<!doctype html>
<html lang="en" th:replace="~{admin/base::Layout(~{::section})}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	<section style="height: 100vh;" class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
			<p>Start collecting your contacts in very smart way. We provide
				very efficient and smarter way of handling contacts.</p>
			<p>You are admin.</p>
		</div>
		<script>
			$(document).ready(() =>{
				$(".item").removeClass("active");
				$("#home").addClass("active");
			});
		</script>
	</section>
</body>
</html>