<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>All Users</title>
</head>
<body>
	<section style="height: 110vh;" class="banner">
		<div class="card-3" th:if="${users}">
			<div class="card-body">
				<div th:if=${session.message}>
					<div th:classappend="${'alert-'+session.message.type}"
						class="alert alert-dismissible fade show" role="alert">
						<strong th:text="${session.message.type+'!!'}"></strong> <span
							th:text="${session.message.content}"></span>
						<button type="button" class="btn-close" data-bs-dismiss="alert"
							aria-label="Close"></button>
					</div>
					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>
				<div class="table-responsive">
					<!-- Search -->
					<div class="search-container my-4 right">
						<input onkeyup="search()" id="search-input" type="text"
							class="form-control transparent text-white" placeholder="Search" />
						<div class="search-result"></div>
					</div>
					<table class="table text-white">
						<thead>
							<tr>
								<th scope="col">#ID</th>
								<th scope="col">Name</th>
								<th scope="col">E-mail</th>
								<th scope="col">Status</th>
								<th scope="col">Activation</th>
								<th scope="col">Message</th>
							</tr>
						</thead>
						<tbody>

							<tr th:each="u : ${users}">
								<th scope="row" th:text="SCM2021+${u.Id}"></th>
								<td><img src="" class="profile-picture"
									th:src="@{'/images/'+${u.image}}" alt="profile photo"><span th:text="${u.name}"></span>
								</td>
								<td><a href="" th:href="@{'/admin/user/'+${u.Id}}">
										<span th:text="${u.email}"></span></a>
								</td>
								<td>
									<span th:text="${u.status}?'Online':'Offline'"></span>
								</td>
								<td>
									<span th:text="${u.enabled}?'ACTIVE':'DEACTIVE'"></span>
								</td>
								<td><!-- <a href="#" th:onclick="|deleteUser(${u.Id})|" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a> --> 
									<!-- <a class="btn bg-primary" th:href="@{'/admin/updateUser/'+${u.Id}}"><i class="fas fa-pen-nib"></i></a> --> 
									<a class="btn bg-warning" th:target="_blank" th:href="@{'/chat/admin/'+${u.Id}}"><i class="fa-regular fa-envelope"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div th:if="${totalPages != -1}">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li th:if="${currentPage != 0}" class="page-item"><a
								class="page-link bg-primary" href="#"
								th:href="@{'/admin/viewUsers/'+${currentPage-1}}"><span
									class="text-black">Previous</span></a></li>
							<li th:each="i : ${#numbers.sequence(1, totalPages+1)}"
								th:classappend=" ${currentPage==i-1} ? 'active' : '' "
								class="page-item"><a
								th:classappend=" ${currentPage==i-1} ? 'bg-primary' : '' "
								class="page-link" href="#"
								th:href="@{'/admin/viewUsers/'+${i-1}}"><span
									th:text="${i}"></span></a></li>
							<li th:if="${currentPage+1 != totalPages+1}" class="page-item"><a
								class="page-link bg-primary" href="#"
								th:href="@{'/admin/viewUsers/'+${currentPage+1}}"><span
									class="text-black">Next</span></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<script>
			$(document).ready(() =>{
				$(".item").removeClass("active");
				$("#viewContacts").addClass("active");
			});
		</script>
		<h1 class="text-center mt-4" th:unless="${users}">Your are not
			premitted here....</h1>
	</section>
</body>
</html>