<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="Layout(content)">
<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	  rel="stylesheet"
	  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	  crossorigin="anonymous">

<!-- FontAwesome CSS -->
<link rel="stylesheet"
	  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
	  integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
	  crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
		  crossorigin="anonymous">-->

<link rel="stylesheet" media="all" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" media="all" type="text/css" th:href="@{/css/authentication.css}" />
<link rel="stylesheet" media="all" type="text/css" th:href="@{/css/footer.css}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>

<!--BOX-ICON-->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<!--CHAT-BOX-->
<!--<link href="https://webchat-styler-css.botpress.app/prod/fa2e58ba-e8a5-46c3-bbb5-374037e5b482/v75322/style.css" rel="stylesheet">-->

<title th:text="${title}">Smart Contact Manager</title>
</head>

<!--BODY-->
<body onload="show()">

	<div id="preloader"></div>

	<!-- navbar -->
	<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<div class="navbar-brand" style="height: 40px;"><p style="margin-left: 5px;">Smart Contact Manager</p></div>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/}">Home</a></li>
					<li class="nav-item"><a class="nav-link btn"
						data-bs-toggle="modal" data-bs-target="#exampleModal">about</a></li>
				</ul>
			</div>

			<!-- about popup -->

			<div class="modal" id="exampleModal">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<video width="100%" controls autoplay loop>
								<source th:src="@{/videos/video.mp4}" type="video/mp4">
							</video>
						</div>
					</div>
				</div>
			</div>

		</div>
	</nav>
	<!-- navbar ends -->

	<div th:replace="${content}"></div>

	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: Bootstrap Bundle with Popper -->
	 <script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>

	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<!-- <script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
		integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
		integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
		crossorigin="anonymous"></script> -->


	<script>
		var preloader = document.getElementById('preloader');

		function show() {
			preloader.style.display = 'none';
		}
	</script>

	<script>
		let container = document.getElementById('container')

		toggle = () => {
			container.classList.toggle('sign-in')
			container.classList.toggle('sign-up')
		}

		setTimeout(() => {
			container.classList.add('sign-in')
		}, 200)
	</script>

	<script>
        function validate_password() {
            var pass = document.getElementById('password_field').value;
            var confirm_pass = document.getElementById('confirm_password_field').value;
            if (pass != confirm_pass) {
                document.getElementById('wrong_pass_alert').style.color = 'red';
                document.getElementById('wrong_pass_alert').innerHTML
                    = '☒ Use same password';
                document.getElementById('create').disabled = true;
                document.getElementById('create').style.opacity = (0.4);
                document.getElementById("signupbtn").disabled = true;
            } else {
                document.getElementById('wrong_pass_alert').style.color = 'green';
                document.getElementById('wrong_pass_alert').innerHTML =
                    '🗹 Password Matched';
                document.getElementById('create').disabled = false;
                document.getElementById('create').style.opacity = (1);
                 document.getElementById("signupbtn").disabled = false;
            }
        }

        function wrong_pass_alert() {
            if (document.getElementById('password_field').value != "" &&
                document.getElementById('confirm_password_field').value != "") {
                alert("Your response is submitted");
            } else {
                alert("Please fill all the fields");
            }
        }
    </script>

<!--	<script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>-->
<!--	<script>-->
<!--		window.botpressWebChat.init({-->
<!--		  "composerPlaceholder": "Chat with bot",-->
<!--		  "botConversationDescription": "This chatbot was built surprisingly fast with Botpress",-->
<!--		  "botId": "869c6853-3ebd-4a41-8ade-2c9cdfa53699",-->
<!--		  "hostUrl": "https://cdn.botpress.cloud/webchat/v1",-->
<!--		  "messagingUrl": "https://messaging.botpress.cloud",-->
<!--		  "clientId": "869c6853-3ebd-4a41-8ade-2c9cdfa53699",-->
<!--		  "webhookId": "eff3df25-c72c-4f61-ac7c-f512af3d1cbc",-->
<!--		  "lazySocket": true,-->
<!--		  "themeName": "prism",-->
<!--		  "frontendVersion": "v1",-->
<!--		  "showPoweredBy": true,-->
<!--		  "theme": "prism",-->
<!--		  "themeColor": "#2563eb"-->
<!--		});-->
<!--		</script>-->

</body>
<!--END BODY-->

<!-- Footer -->
<footer class="footer">
	<div class="waves">
		<div class="wave" id="wave1"></div>
		<div class="wave" id="wave2"></div>
		<div class="wave" id="wave3"></div>
		<div class="wave" id="wave4"></div>
	</div>
	<ul class="social-icon">
		<li class="social-icon__item"><a class="social-icon__link" href="#">
			<ion-icon name="logo-facebook"></ion-icon>
		</a></li>
		<li class="social-icon__item"><a class="social-icon__link" href="#">
			<ion-icon name="logo-twitter"></ion-icon>
		</a></li>
		<li class="social-icon__item"><a class="social-icon__link" href="#">
			<ion-icon name="logo-linkedin"></ion-icon>
		</a></li>
		<li class="social-icon__item"><a class="social-icon__link" href="#">
			<ion-icon name="logo-instagram"></ion-icon>
		</a></li>
	</ul>
	<ul class="menu">
		<li class="menu__item"><a class="menu__link" href="#">Home</a></li>
		<li class="menu__item"><a class="menu__link" href="#">About</a></li>
		<li class="menu__item"><a class="menu__link" href="#">Services</a></li>
		<li class="menu__item"><a class="menu__link" href="#">Team</a></li>
		<li class="menu__item"><a class="menu__link" href="#">Contact</a></li>

	</ul>
	<p>&copy;2023 Ganesh Kalyankar | All Rights Reserved</p>
</footer>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<!--<script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>-->
<!--<script src="https://mediafiles.botpress.cloud/869c6853-3ebd-4a41-8ade-2c9cdfa53699/webchat/config.js" defer></script>-->

<!-- END Footer -->

</html>