<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{default/base::Layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>Home - Smart Contact Manager</title>
</head>
<body>
<section style="height: 100vh;" class="">
	<div id="container" class="container sign-up">
		<!-- FORM SECTION -->
		<div class="row">
			<!--  FORGOT PASSWORD -->
			<div class="col align-items-center flex-col sign-up">
				<div th:if=${session.message}>
					<div th:classappend="${'alert-'+session.message.type}" class="alert alert-dismissible fade show text-center" role="alert">
						<span th:text="${session.message.content}"></span>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					<th:block th:text="${@sessionHelper.removeSessionAttribute()}"></th:block>
				</div>
				<div class="form-wrapper align-items-center">
					<div class="form sign-up">
						<form id="forgot-password" action="#" th:action="@{/passwordUpdate}" method="POST">
							<div class="input-group">
								<i class='bx bx-mail-send'></i>
								<input type="email" id="email_field" name="email" placeholder="Email" required>
							</div>
							<div class="input-group">
								<i class='bx bxs-lock-alt'></i>
								<input type="password" id="password_field" name="password"  placeholder="Password" required>
							</div>
							<div class="input-group">
								<i class='bx bxs-lock-alt'></i>
								<input type="password" id="confirm_password_field" name="confirm_password" placeholder="Confirm password" required onkeyup="validate_password()">
							</div>
							<span id="wrong_pass_alert"></span>
							<button id="submit-forgot-password" type="submit">
								OTP
							</button>
						</form>
					</div>
				</div>
			</div>
			<!-- END FORGOT PASSWORD -->
			<!-- DUMMY -->
			<div class="col align-items-center flex-col sign-in">
				<div class="form-wrapper align-items-center">
					<div class="form sign-in">

					</div>
				</div>
			</div>
			<!-- END DUMMY -->

		</div>
		<!-- CONTENT SECTION -->
		<div class="row content-row">
			<!-- DUMMY -->
			<div class="col align-items-center flex-col">
				<div class="text sign-in">

				</div>
				<div class="img sign-in">

				</div>
			</div>
			<!-- END DUMMY -->
			<!-- FORGOT PASSWORD CONTENT -->
			<div class="col align-items-center flex-col">
				<div class="img sign-up">

				</div>
				<div class="text sign-up">
					<h2>
						Password
					</h2>
				</div>
			</div>
			<!-- END FORGOT PASSWORD CONTENT -->
		</div>
		<!-- END CONTENT SECTION -->
	</div>

</section>
</body>
</html>