<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{default/base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8" />
    <title>Home - Smart Contact Manager</title>
</head>
<body>
<section style="height: 100vh;" class="">
    <div id="container" class="container sign-in">
        <!-- FORM SECTION -->
        <div class="row">
            <!-- DUMMY -->
            <div class="col align-items-center flex-col sign-up">
                <div class="form-wrapper align-items-center">
                    <div class="form sign-up">

                    </div>
                </div>
            </div>
            <!-- END DUMMY -->
            <!-- OTP -->
            <div class="col align-items-center flex-col sign-in">
                <div th:if=${session.message}>
                    <div th:classappend="${'alert-'+session.message.type}" class="alert alert-dismissible fade show text-center" role="alert">
                        <span th:text="${session.message.content}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <th:block th:text="${@sessionHelper.removeSessionAttribute()}"></th:block>
                </div>
                <div class="form-wrapper align-items-center">
                    <div class="form sign-in">
                        <form id="" action="#" th:action="@{/otpVerify}" method="POST">
                            <div class="input-group">
                                <i class='bx bx-mail-send'></i>
                                <input type="text" id="otp" name="OTP"  placeholder="OTP" required>
                            </div>
                            <div class="text-center mt-2">
                                <p>* OTP expires in <span id="countdown">3 : 00</span>
                            </div>
                            <button id="submit-otp-verify" type="submit">
                                OTP
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- END OTP -->
        </div>
        <!-- CONTENT SECTION -->
        <div class="row content-row">
            <!-- OTP CONTENT -->
            <div class="col align-items-center flex-col">
                <div class="img sign-in">

                </div>
                <div class="text sign-in">
                    <h2>
                        OTP
                    </h2>
                </div>
            </div>
            <!-- END OTP CONTENT -->
            <!-- DUMMY -->
            <div class="col align-items-center flex-col">
                <div class="text sign-up">

                </div>
                <div class="img sign-up">

                </div>
            </div>
            <!-- END DUMMY -->
        </div>
    </div>

    <script>
			window.addEventListener('load', function () {
				const startingMinutes = 3;
				let time = startingMinutes *60;

				const countdownEl = document.getElementById('countdown');

				const id = setInterval(updateCountdown, 1000);

				function updateCountdown() {
					const minutes = Math.floor(time/60);
					let seconds = time%60;

					seconds = seconds < 10 ? '0' + seconds : seconds;

					countdownEl.innerHTML = `${minutes} : ${seconds}`;
					time--;

					if(time<0){
						console.log(time);
						window.location="/signIn/";
						clearInterval(id);
					}
				}
			});
	</script>

</section>
</body>
</html>